In [1]:
import pandas as pd
import numpy as np

In [46]:
df=pd.read_excel('/content/Financial Analytics data (2).xlsx')

In [47]:
df

     S.No.             Name  Mar Cap - Crore  Sales Qtr - Crore
0        1   Reliance Inds.        583436.72           99810.00
1        2              TCS        563709.84           30904.00
2        3        HDFC Bank        482953.59           20581.27
3        4              ITC        320985.27            9772.02
4        5          H D F C        289497.37           16840.51
..     ...              ...              ...                ...
483    496  Lak. Vilas Bank          3029.57             790.17
484    497            NOCIL          3026.26             249.27
485    498    Orient Cement          3024.32             511.53
486    499  Natl.Fertilizer          3017.07            2840.75
487    500        L T Foods              NaN                NaN

[488 rows x 4 columns]

In [49]:
df.isnull().sum()

S.No.                 0
Name                  0
Mar Cap - Crore       9
Sales Qtr - Crore    29
dtype: int64

In [50]:
df1=df.copy()

In [58]:
df1.dropna(subset=['Sales Qtr - Crore', 'Mar Cap - Crore'], inplace=True)

In [59]:
df1.isnull().sum()

S.No.                0
Name                 0
Mar Cap - Crore      0
Sales Qtr - Crore    0
dtype: int64

In [61]:
df1

     S.No.             Name  Mar Cap - Crore  Sales Qtr - Crore
0        1   Reliance Inds.        583436.72           99810.00
1        2              TCS        563709.84           30904.00
2        3        HDFC Bank        482953.59           20581.27
3        4              ITC        320985.27            9772.02
4        5          H D F C        289497.37           16840.51
..     ...              ...              ...                ...
482    495      Prime Focus          3031.50             609.61
483    496  Lak. Vilas Bank          3029.57             790.17
484    497            NOCIL          3026.26             249.27
485    498    Orient Cement          3024.32             511.53
486    499  Natl.Fertilizer          3017.07            2840.75

[459 rows x 4 columns]

In [62]:
df1 = df1.to_excel(r'/content/Financial Analytics data (2).xlsx',index=False)